@font-face{
	font-family: 'Lato-Light';
	src: url('./Lato-Light.ttf');
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 14px;
}
body{
	font-family: 'Lato-Light';
}
.touch-general{
	width: 100%;
	height: auto;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
}
.touch-general .title{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 90%;
	margin-bottom: 20px;
}
.touch-general .title p{
	margin-right: 25px;
	font-size: 1.5rem;
}
.touch-general .title input{
	outline: 0;
	width: 320px;
	height: 45px;
	line-height: 45px;
	border: 1px solid #ddd;
	border-radius: 0.5rem;
	padding: 0 15px;
	font-family: 'Lato-Light';
	font-size: 1.3rem;
}
.touch-general .keyboard-container{
	width: 800px;
	height: auto;
	background-color: #2a3443;
	border-radius: 1rem;
	padding: 30px 40px;
}
.touch-general .keyboard-container .key-top, .touch-general .keyboard-container .key-bottom, .touch-general .keyboard-container .key{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}
.keyboard-container .special-key{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: calc(10% - 6px);
	height: 60px;
	background-color: #2e3949;
	margin: 3px;
}
.keyboard-container .special-key p, .keyboard-container .special-key span{
	color: #9bfdff;
	font-size: 2rem;
	font-weight: bold;
}
.touch-general .keyboard-container .key{
	width: calc(10% - 6px);
	height: 60px;
	background-color: #2e3949;
	margin: 3px;
	cursor: pointer;
}
.touch-general .keyboard-container .key p, .touch-general.keyboard-container .key span{
	width: 100%;
	height: 100%;
	line-height: 60px;
	text-align: center;
	color: #9bfdff;
	font-size: 2rem;
	font-weight: bold;
}
.touch-general .keyboard-container .key span{
	display: flex;
}
.touch-general .keyboard-container .key-bottom .special-key{
	width: calc(15% - 6px);
}
.keyboard-container .key-bottom .special-key:nth-last-child(3){
	width: calc(10% - 6px);
}
.keyboard-container .key-bottom .special-key:nth-last-child(2){
	width: calc(35% - 6px);
}
.keyboard-container .key-bottom .special-key:nth-last-child(1){
	width: calc(25% - 6px);
}
